<div class="row">
  <div class="col-md-2">
    <span class="text-muted">
      <%= message.user.email %>
    </span>
  </div>
  <div class="col-md-8">
    <p>
      <%= message.body %>
      <br>
      <span class="text-muted">
         at <%= message.timestamp %>
      </span>
    </p>
  </div>
</div>