






<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      <%= @band.name %>
    </p>
  </div>      
</section>

<h3>Band Members</h3>
<ul class="band-members">
  <% @band.users.uniq.each do |user| %>
    <li>
      <% if user == current_user %>
        <%= link_to user.email, edit_registration_path(user) %> (you!)
      <% else %>
        <%= user.email %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to "Invite a new member", invite_band_path(@band) %>

<h3>Activity</h3>



