/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 html,
body,
.page {
  height: 100vh; /* needed for proper layout */
}

body {
  overflow: hidden;
}

p {
  margin-bottom: 1em;
}

.page {
  display: flex;
  flex-direction: column;
}

.page-header {
  flex: 0 0 auto;
  background-color: #dcdcdc;
  border-bottom: 1px solid #cbcbcb;
}

.page-content {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}

.page-footer {
  flex: 0 0 auto;
  background-color: #dcdcdc;
  border-top: 1px solid #cbcbcb;
}

 #nav-menu {
  margin-bottom: 0px;
}

.hero-body {
  padding: 14px;
}



.dropzone {
  border: 2px dashed red;
  cursor: pointer;
}

.table {
  width: 100%;
}

#chat {
  height: 80vh;
  overflow-y: scroll;
}

#new_message {
  padding: 5px;
}