<div class="row">
  <div class="col-sm-6">
    <h1>Gigs</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to "Create a new Gig", new_gig_path, class: 'btn btn-primary' %>
  </div>
</div>

<ul class="gigs">
  <%= render @gigs %>
</ul>